<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <!-- import CSS -->
  <link rel="stylesheet" href="/vue/index.css"/>
  <link rel="stylesheet" href="/vue/custom.css"/>
</head>
<body>
  <div id="app">
  <el-container>
	<el-header style="height: 72px; font-size: 24px">
		<span>连州市人民医院活动评分系统</span>
    </el-header>
    <el-main>
    	<h3 style="text-align:center" th:text="${activity.name}">XX活动</h3>
		<el-table :data="items">
	    <el-table-column prop="team_id" label="扣分序号" width="150"></el-table-column>
		<el-table-column prop="team_name" label="当前队伍" width="200"></el-table-column>
		<el-table-column prop="koufen" label="当前扣分" width="200"></el-table-column>
		<el-table-column label="扣分" width="100">
           <template slot-scope="scope">
	    	 	<el-select v-model="models[scope.$index+1]" placeholder="请选择" v-show="koufenShow(scope.row.koufen)">
				    <el-option
				      v-for="item in 10"
				      :key="item"
				      :label="item"
				      :value="item">
				    </el-option>
				  </el-select>
	      </template>
		</el-table-column>
	  </el-table>
	  <el-button type="primary" v-on:click="onSubmit">提交</el-button>
    </el-main>
  </el-container>
  </div>
  <div>
  	<input id="i_length" type="hidden" th:value="${i_length}"></input>
  	<input id="activity_name" type="hidden" th:value="${activity.name}"></input>
  	<input id="activity_id" type="hidden" th:value="${activity.id}"></input>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="/vue/vue.js"></script>
  <!-- import JavaScript -->
  <script src="/vue/index.js"></script>
  <script src="/vue/vue-router.js"></script>
  <script src="/vue/axios.min.js"></script>
  <script src="/vue/koufen.js"></script>
</html>